@media (max-width: 650px) {

  .main_section{
    padding: 5%;
  }
  .products{
    display: block;
    height: auto;
    padding: 5%;
  }
  .product{
    margin-top: auto;
  }
  .benefits{
    display: initial;
  }
  .mentions{
    display: initial;
  }
}